/* You can add global styles to this file, and also import other style files */
body {
    min-height: 100vh;
    background: url("/hexagon-elements.png");
    background-size: cover;
    background-position: center;
  }